* {
  font-family: iransans-light;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  direction: rtl;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  font-family: iransans-light;
  color: white;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

a,
a:link {
  color: white;
  text-decoration: none;
}

.logo-head {
  background: no-repeat border-box 0 / contain url(../images/head/logo-head.png);
  min-height: 80px;
  max-width: 200px;
  min-width: 150px;
  margin: auto;
}

.logo-head:nth-child(2) {
  display: none;
  visibility: hidden;
}

.head {
  display: grid;
  grid-template-areas: "logo-head" "search-box";
  background-color: rgb(255, 255, 255, 0.3);
  position: relative;
  border-bottom: 1px solid rgb(165, 165, 165, 0.6);
}

.search-box {
  padding: 0;
  margin: auto;
  grid-area: search-box;
  position: relative;
  box-sizing: border-box;
  width: inherit;
  justify-content: center;
  margin-bottom: 1rem;
  width: calc(100% - 4rem);
  padding: 0 1rem;
  transition: all 0.4s ease-in;
}

.search-box input[type="search"] {
  border: 1px solid rgb(200, 200, 200);
  width: 100%;
  padding: 0.7rem;
  border-radius: 20px;
}

.search-box button[type="submit"] {
  display: inline-block;
  visibility: visible;
  width: 50px;
  margin: auto;
  height: 100%;
  border: none;
  border-radius: 50% 0px 0px 50%;
  position: absolute;
  left: 15px;
  background-color: rgb(91, 228, 64);
}

.fa-search {
  color: rgb(98, 0, 255);
}

.nav {
  background-color: rgb(255, 255, 255);
  grid-template-areas: "item-nav1" "item-nav2" "item-nav3" "item-nav4" "item-nav5";
  justify-content: center;
  transition: all 0.4s ease-in;
  font-family: iransans-medium;
  font-size: 1rem;
  width: 100%;
}

.box-item-nav {
  padding: 0rem 1rem;
  position: relative;
  border-bottom: 1px solid rgb(200, 200, 200);
  color: rgb(140, 140, 140);
}

.item-nav {
  padding: 1rem 0.2rem 0.5rem;
  color: rgb(56, 56, 56);
  font-size: 0.9rem;
}

.box-item-nav:nth-child(1) .item-nav {
  color: rgb(62, 201, 57);
}

.box-item-nav:nth-child(4),
.box-item-nav:nth-child(3) {
  padding-bottom: 1rem;
}

.item-nav:nth-child(3),
.item-nav:nth-child(4) {
  color: white;
}

.item-nav-pack a {
  display: grid;
  justify-content: flex-start;
  color: rgb(95, 95, 95);
  padding: 0.5rem 1.5rem;
  font-family: iransans-light;
  font-size: 0.9rem;
}

footer {
  width: 100%;
  background-color: rgb(235, 235, 235);
  color: rgb(31, 31, 31);
  padding: 1rem;
  box-sizing: border-box;
  line-height: 2;
  box-shadow: inset 0px 25px 20px -10px rgb(175, 204, 190);
}

.footer-top .item-footer {
  padding: 0.7rem;
  border-bottom: 1px solid gray;
  font-size: 0.9rem;
}

.telephon {
  display: inline-flex;
  padding-left: 2rem;
  border-bottom: 2px solid rgb(10, 110, 241);
  justify-content: center;
  margin-bottom: 0.5rem;
}

.icon-phon-animation {
  animation: icon-phon 0.8s 0.5s infinite alternate none;
}

.icon-map-animation {
  animation: icon-map 0.5s 0.1s infinite alternate none;
}

.icon-email-animation {
  animation: icon-email 0.6s 0.1s infinite alternate none;
}

@keyframes icon-phon {
  0%,
  50% {
    color: rgb(8, 143, 8);
  }
  10% {
    transform: translate(2px, -5px);
    transform: rotate(-5deg);
  }
  15% {
    transform: rotate(5deg);
    color: rgb(8, 143, 8);
  }
}

@keyframes icon-map {
  0% {
    transform: translateY(4px);
    color: rgb(223, 27, 27);
  }
}

@keyframes icon-email {
  25% {
    transform-origin: top;
    transform: rotate(-5deg);
  }
  50% {
    transform-origin: right;
    transform: rotate(5deg);
    color: rgb(150, 13, 13);
  }
}

.icon-footer {
  display: flex;
  align-self: center;
  padding-left: 0.8rem;
  font-size: 1.3rem;
}

.footer-top .item-footer .icon-footer:hover,
.footer-top .item-footer .icon-footer:hover {
  animation: none;
}

.social-media div:nth-child(3):hover {
  color: rgb(8, 143, 8);
}

.social-media div:nth-child(1):hover {
  color: rgb(29, 112, 151);
}

.social-media div:nth-child(2):hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media div:hover {
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.item-footer b {
  display: block;
}

.address {
  display: inline-flex;
  padding-left: 2rem;
  border-bottom: 2px solid rgb(35, 105, 196);
  justify-content: center;
  margin-bottom: 0.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  display: grid;
  padding-top: 1rem;
  justify-content: center;
}

.slidershow {
  width: 100%;
  height: 550px;
  overflow: hidden;
  display: none;
  visibility: hidden;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.middle {
  position: relative;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}

.main {
  background-color: rgb(250, 250, 250);
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  font-family: iransans-light;
  padding: 1.2rem;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
}

.title-main {
  font-size: 0.9rem;
  padding: 1rem;
  justify-content: center;
  display: grid;
  font-family: iransans-medium;
  border-bottom: 2px solid blue;
  margin: 1rem;
  color: rgb(56, 56, 56);
}

.box-item-main {
  display: grid;
  justify-content: center;
  background-color: rgb(228, 228, 228);
  margin: 1.5rem;
  box-sizing: border-box;
  border-radius: 15px;
  transition: all 0.4s ease-in;
  box-shadow: 0px 0px 20px 0px rgb(170, 170, 170);
}

.item-main {
  font-size: 0.9rem;
  line-height: 2;
  padding: 1rem;
}

.item-main h3 {
  font-family: iransans-medium;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: rgb(56, 56, 56);
}

.pic-item-main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(
    150deg,
    rgba(169, 255, 169, 0.233),
    rgba(100, 150, 100, 0.678)
  );
}
/*     
    .box-item-main .about-product {
        display: flex;
        justify-content: flex-end;
        margin: .5rem;
        border: none;
        padding-left: 1rem;
    }
    
    button[type="menu"] {
        border: none;
        border-radius: 15px;
        padding: .5rem;
        background-color: rgba(255, 255, 255, 0.356)
    }
    
    button[type="menu"] a {
        color: rgb(56, 56, 56);
        font-family: iransans-medium;
        font-size: .7rem;
    }
     */

.about-company {
  color: rgb(56, 56, 56);
  border-bottom: 1px solid rgb(126, 126, 126);
  background: linear-gradient(
    to top,
    rgb(142, 158, 171),
    rgba(165, 165, 165, 0.6),
    rgb(238, 242, 243)
  );
  display: grid;
}

.box-about-company {
  line-height: 2.5;
  padding: 2rem;
  text-align: justify;
  font-size: 0.9rem;
  display: block;
  position: relative;
}

.box-about-company h3 {
  font-family: iransans-medium;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.button-about-company {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  backdrop-filter: blur(10px);
  animation: button-animation 0.6s -1s infinite alternate ease-in;
}

.button-about-company button {
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 0px rgba(146, 146, 146, 0.5);
  cursor: pointer;
  font-family: iransans-light;
}

@keyframes button-animation {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(-5deg);
  }
}

.about-company a {
  color: black;
}

footer {
  width: 100%;
  background-color: rgb(235, 235, 235);
  color: rgb(31, 31, 31);
  padding: 1rem;
  box-sizing: border-box;
  line-height: 2;
  box-shadow: inset 0px 25px 20px -10px rgb(175, 204, 190);
}

.footer-top .item-footer {
  padding: 0.7rem;
  border-bottom: 1px solid gray;
  font-size: 0.9rem;
}

.telephon {
  display: inline-flex;
  padding-left: 2rem;
  border-bottom: 2px solid rgb(10, 110, 241);
  justify-content: center;
  margin-bottom: 0.5rem;
}

.icon-phon-animation {
  animation: icon-phon 0.8s 0.5s infinite alternate none;
}

.icon-map-animation {
  animation: icon-map 0.5s 0.1s infinite alternate none;
}

@keyframes icon-phon {
  0%,
  50% {
    color: rgb(8, 143, 8);
  }
  10% {
    transform: translate(2px, -5px);
    transform: rotate(-5deg);
  }
  15% {
    transform: rotate(5deg);
    color: rgb(8, 143, 8);
  }
}

@keyframes icon-map {
  0% {
    transform: translateY(4px);
    color: rgb(223, 27, 27);
  }
}

@keyframes icon-email {
  25% {
    transform-origin: top;
    transform: rotate(-5deg);
  }
  50% {
    transform-origin: right;
    transform: rotate(5deg);
    color: rgb(150, 13, 13);
  }
}

.icon-footer {
  display: flex;
  align-self: center;
  padding-left: 0.8rem;
  font-size: 1.3rem;
}

.social-media div:nth-child(3):hover {
  color: rgb(8, 143, 8);
}

.social-media div:nth-child(1):hover {
  color: rgb(29, 112, 151);
}

.social-media div:nth-child(2):hover {
  color: rgb(228, 8, 217);
}

.social-media div:hover {
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.item-footer b {
  display: block;
}

.address {
  display: inline-flex;
  padding-left: 2rem;
  border-bottom: 2px solid rgb(35, 105, 196);
  justify-content: center;
  margin-bottom: 0.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  display: grid;
  padding-top: 1rem;
  justify-content: center;
}

@media screen and (min-width: 450px) {
  .item-nav {
    color: rgb(65, 65, 65);
  }
  .main {
    justify-content: center;
    display: grid;
  }
  .box-item-main {
    max-width: 400px;
    display: grid;
    justify-content: center;
    margin: 2rem;
  }
  .footer-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .social-media {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 700px) {
  .item-nav {
    color: white;
  }
  .nav-main {
    display: flex;
    background-color: rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(165, 165, 165, 0.521);
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .head {
    display: none;
  }
  .logo-head:nth-child(1) {
    display: none;
    visibility: hidden;
  }
  .logo-head:nth-child(2) {
    min-height: 80px;
    max-width: 200px;
    margin: auto auto 0 0;
    display: grid;
    min-width: 150px;
    /* grid-area: logo-head; */
    z-index: 1;
    left: 4rem;
    position: absolute;
    align-self: center;
    visibility: visible;
  }
  .nav {
    display: grid;
    background-color: initial;
    grid-template-areas: "item-nav1 item-nav2 item-nav3 item-nav4 item-nav5";
    justify-content: flex-start;
    transition: all 0.4s ease-in;
    font-family: iransans-medium;
    font-size: 0.8rem;
    padding-right: 1rem;
    width: 100%;
    position: relative;
    /* z-index: ; */
  }
  .item-nav {
    padding: 1.5rem 0.8rem;
  }
  .slidershow {
    display: block;
    visibility: visible;
  }
  .slide img {
    object-fit: auto;
    animation: slide 15s 5s infinite alternate;
  }
  @keyframes slide {
    from {
      margin-right: 0%;
    }
    25% {
      margin-right: -100%;
    }
    50% {
      margin-right: -200%;
    }
    to {
      margin-right: -300%;
    }
  }
  .about-company {
    border-top: 1px solid rgb(165, 165, 165, 0.6);
  }
  .box-item-nav {
    padding-bottom: 0;
    padding: 0rem 1rem;
    color: white;
    border: none;
    position: relative;
  }
  .box-item-nav:nth-child(4),
  .box-item-nav:nth-child(3) {
    padding-bottom: 0rem;
  }
  .box-item-nav::before {
    content: "";
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: rgb(74, 238, 115);
    margin: auto;
    left: 0;
  }
  .box-item-nav:hover.box-item-nav::before {
    display: block;
  }
  .box-item-nav:nth-child(1).box-item-nav::before {
    display: block;
  }
  .item-nav-pack a {
    color: black;
    padding: 1rem;
  }
  .item-nav-pack {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.562);
    box-shadow: 0px 0px 20px 0px rgb(216 216 216 / 73%);
    z-index: 1;
    padding: 0.5rem 1rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(41, 41, 41);
    backdrop-filter: blur(10px);
  }
  .box-item-nav:nth-child(4) {
    padding-bottom: 0rem;
  }
  .box-item-nav:nth-child(2)::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 25px;
    border-top: 0.3rem solid;
    border-right: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
  }
  .box-item-nav .item-nav:hover,
  .box-item-nav:hover {
    color: rgb(71, 202, 66);
    transition: all 0.4s ease-in;
  }
  .item-nav-pack a:hover {
    border-radius: 5%;
    color: rgb(20, 48, 170);
    transition: all 0.4s ease-in;
  }
  .box-item-nav:hover .item-nav-pack {
    transition: all 0.4s ease-in;
    display: block;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box-item-main {
    max-width: 400px;
    display: grid;
    justify-content: center;
  }
  .item-main h3 {
    font-size: 1.1rem;
    padding: 0 1rem;
  }
  .item-main p {
    font-size: 1rem;
    text-align: justify;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 850px) {
  .nav {
    padding-right: 4rem;
  }
  .main {
    padding: 1rem 2rem;
  }
  .footer-top {
    display: grid;
    grid-template-columns: 1.6fr repeat(3, 1.8fr);
    padding: 0 4rem;
  }
  .footer-bottom .icon-footer {
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
  }
  .footer-top .item-footer {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 950px) {
  .box-about-company {
    padding: 2rem;
    margin-left: 0rem;
    display: grid;
    align-items: center;
  }
  .pic-about-company {
    padding: 0 1rem;
    background: no-repeat border-box 0 90% / cover
      url(../images/main/about-company.png);
    min-height: 550px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
}

@media screen and (min-width: 990px) {
  .box-about-company h3 {
    font-size: 1.7rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .box-item-main {
    max-width: 400px;
    display: grid;
    justify-content: center;
    margin: 1.5rem 1rem;
  }
  .slide img {
    object-fit: cover;
    object-position: 0 0px;
  }
  .box-item-main:hover {
    transform: translateY(-20px);
    box-shadow: 0px 0px 20px 0px rgba(0, 255, 55, 0.5);
    transition: all 0.6s ease-in-out;
  }
  .footer-top {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1.4fr);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .box-item-main {
    max-width: 300px;
    display: grid;
    justify-content: center;
  }
  .footer-top {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1.8fr);
  }
}
